{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <div id="newpost-view" class="card">
            <h4>New Post</h4>
            <div class="card-textbody">
                <textarea class="form-control" id="compose-body" placeholder="What's New Today?"></textarea>
            </div>
            <div class="card-post-button">
                <button type="submit" class="btn btn-sm btn-outline-primary" id="submit-post">Post</button>
            </div>
        </div>
        <div id="posts">
        </div>
        <div id="all-posts">
            {% for p in post %}
               <div class="card">
                <h6 class="card-subtitle mb-2 text-muted"> {{p.user}} </h6>
                <p class="card-text"> {{p.body}} </p>
               </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}