{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="all-posts">
        <div id="newpost-view" class="card">
            <h4>New Post</h4>
            <div class="card-textbody">
                <textarea class="form-control" id="compose-body" placeholder="What's New Today?"></textarea>
            </div>
            <div class="card-post-button">
                <button type="submit" class="btn btn-sm btn-outline-primary" id="submit-post">Post</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}